<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Podcastosphere Lite{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href=" {{ asset('bower_components/bootstrap/dist/css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href=" {{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{{ asset('img/icon.png') }}">
                    </a>
                </div>
            </div>
          </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
